<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="restart.com.bandara" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="example.com.bandara.permission.MAPS_RECEIVE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permisiion.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-permission android:name="com.google.android.providers.gfs.permission.READ_GSERVICES"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Tranxit Badaruddin"
        android:supportsRtl="true"
        android:name=".MyApplication"
        android:theme="@style/AppTheme" >

        <activity android:name="restart.com.bandara.activities.MainActivity"
            android:label="Tranxit Badaruddin"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="restart.com.bandara.activities.SplashActivity"
            android:label="Tranxit Badaruddin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="android.app.searchable"
            android:resource="@xml/searchable"
            />

        <activity
            android:name="restart.com.bandara.activities.LoginActivity"
            android:label="Tranxit Badaruddin"/>

        <activity
            android:name="restart.com.bandara.activities.SignupActivity"
            android:label="Tranxit Badaruddin"/>

        <activity
            android:name="restart.com.bandara.activities.ProfileActivity"
            android:label="Tranxit Badaruddin"/>

        <activity
            android:name="restart.com.bandara.activities.HistoryActivity"
            android:label="Tranxit Badaruddin"/>

        <activity
            android:name="restart.com.bandara.activities.ConfirmationActivity"
            android:label="Tranxit Badaruddin"/>

        <activity
            android:name="restart.com.bandara.activities.SearchDriverActivity"
            android:label="Tranxit Badaruddin"/>

        <activity
            android:name="restart.com.bandara.activities.RateDriverActivity"
            android:label="Tranxit Badaruddin"/>

        <activity
            android:name="restart.com.bandara.activities.ChooseActivity"
            android:label="Tranxit Badaruddin"/>

        <activity
            android:name="restart.com.bandara.activities.EditProfileActivity"
            android:label="Tranxit Badaruddin"/>

    </application>

</manifest>